<app-user-list-filters (emitSubmitSearch)="applyFilters($event)" (refreshEmit)="onRefreshList()">
</app-user-list-filters>
<p (click)="onAddUser()">Add USER</p>
<ng-container *ngIf="(users$ | async) as users">
  <table mat-table [dataSource]="users">
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        Loading...
      </td>
    </tr>

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="'physicalAddress'">
          <th mat-header-cell *matHeaderCellDef> {{ 'Address' | appUppercaseCapitalLetter }} </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column].country }}
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'image'">
          <th mat-header-cell *matHeaderCellDef> {{ column | appUppercaseCapitalLetter }} </th>
          <td mat-cell *matCellDef="let element">
            <img class="image" [src]="element[column]"/>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'actions'">
          <th mat-header-cell *matHeaderCellDef> {{ column | appUppercaseCapitalLetter }} </th>
          <td mat-cell *matCellDef="let element">
            <div class="user-actions">
              <button mat-mini-fab color="primary" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef> {{ column | appUppercaseCapitalLetter }} </th>
          <td mat-cell *matCellDef="let element">
                {{ element[column] }}
          </td>
        </ng-container>

      </ng-container>
    </ng-container>
  </table>
  <mat-paginator #paginator
         (page)="handlePageEvent($event)"
         [pageSize]="page().pageSize"
         [pageSizeOptions]="[5, 10, 20]"
         [length]="totalPage$ | async"
                 [pageIndex]="page().pageIndex"
  >
  </mat-paginator>
</ng-container>
